# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
replicaCount: 1
revisionHistoryLimit: 1
image:
  repository: ibmcase/kcontainer-order-query-ms
  tag: latest
  pullPolicy: Always
  pullSecret: null
  resources:
    requests:
      cpu: 200m
      memory: 300Mi
service:
  name: Node
  type: NodePort
  servicePort: 9080
  servicePortHttps: 9443
  nodePort: 31100
hpa:
  enabled: false
  minReplicas: 1
  maxReplicas: 2
  metrics:
    cpu:
      targetAverageUtilization: 70
    memory:
      targetAverageUtilization: 70
istio:
  enabled: false
  weight: 100
generatedBindings:
  enabled: false
# Individual Routes are preferred over Ingresses on OCP
route:
  enabled: false
  path: /
  urlPrefix: kcontainer-order-query
kafka:
  brokersConfigMap: kafka-brokers
  topicsConfigMap: kafka-topics
eventstreams:
  enabled: true
  apikeyConfigMap: eventstreams-apikey
  truststoreRequired: false
  truststorePath: /config/resources/security/es-ssl
  truststoreFile: es-cert.jks
  truststoreSecret: es-truststore-jks
  truststorePassword: password
serviceAccountName: default
