/order-command-ms/bin/
/order-command-ms/es-cert.der
/order-command-ms/templates/
/order-query-ms/.settings/org.eclipse.jdt.apt.core.prefs
/order-query-ms/.settings/org.eclipse.jdt.core.prefs
/order-query-ms/.factorypath
/order-query-ms/es-cert.der
es-api-key.json
es-cert.jks
es-cert.pem
/site/
