/target
/.m2

es-cert.der
/.classpath
/.project
/.settings

/caches
/local.properties
.*.swp
.DS_Store
/src/main/liberty/config/server.env

/mc-target
/.apt_generated/
/.apt_generated_tests/
/.factorypath
